.filter-item {
  vertical-align: top;

  &.reset-filters {
    padding: 7px;
  }

  &.update-issues-btn {
    float: right;
    margin-right: 0;

    @include media-breakpoint-down(xs) {
      float: none;
    }
  }
}

.filters-section {
  @include media-breakpoint-down(xs) {
    display: inline-block;
  }
}

@include media-breakpoint-up(sm) {
  .filter-item:not(:last-child) {
    margin-right: 6px;
  }

  .sort-filter {
    display: inline-block;
    float: right;
  }

  .dropdown-menu-sort {
    left: auto;
    right: 0;
  }
}

@include media-breakpoint-down(xs) {
  .filter-item {
    display: block;
    margin: 0 0 10px;
  }

  .dropdown-menu-toggle,
  .update-issues-btn .btn {
    width: 100%;
  }
}

.filtered-search-wrapper {
  display: -webkit-flex;
  display: flex;

  @include media-breakpoint-down(xs) {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .tokens-container {
    display: -webkit-flex;
    display: flex;
    flex: 1;
    -webkit-flex: 1;
    padding-left: 12px;
    position: relative;
    margin-bottom: 0;
  }

  .input-token {
    max-width: 200px;
    padding: 0;

    &:hover,
    &:focus {
      background-color: inherit;
      color: inherit;
    }
  }

  .input-token:only-child,
  .input-token:last-child {
    flex: 1;
    -webkit-flex: 1;
    max-width: inherit;
  }
}

.filtered-search-token,
.filtered-search-term {
  display: -webkit-flex;
  display: flex;
  flex-shrink: 0;
  margin-top: 5px;
  margin-bottom: 5px;

  .selectable {
    display: -webkit-flex;
    display: flex;
  }

  .name,
  .value {
    display: inline-block;
    padding: 2px 7px;
  }

  .name {
    background-color: $filter-name-resting-color;
    color: $filter-name-text-color;
    border-radius: 2px 0 0 2px;
    margin-right: 1px;
    text-transform: capitalize;
  }

  .value-container {
    background-color: $white-normal;
    color: $filter-value-text-color;
    border-radius: 0 2px 2px 0;
    margin-right: 5px;
    padding-right: 8px;
  }

  .value {
    padding-right: 0;
  }

  .remove-token {
    display: inline-block;
    padding-left: 4px;
    padding-right: 0;

    .fa-close {
      color: $gl-text-color-secondary;
    }

    &:hover .fa-close {
      color: $gl-text-color;
    }

    &.inverted {
      .fa-close {
        color: $gl-text-color-secondary-inverted;
      }

      &:hover .fa-close {
        color: $gl-text-color-inverted;
      }
    }
  }
}

.filtered-search-token:hover,
.filtered-search-token .selected,
.filtered-search-term .selected {
  .name {
    background-color: $filter-name-selected-color;
  }

  .value-container {
    box-shadow: inset 0 0 0 100px $filtered-search-term-shadow-color;
  }
}

.filtered-search-term {
  .name {
    background-color: inherit;
    color: $black;
    text-transform: none;
  }

  .selectable {
    cursor: text;
  }
}

.scroll-container {
  display: -webkit-flex;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

.filtered-search-box {
  position: relative;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  min-width: 0;
  border: 1px solid $border-color;
  background-color: $white-light;

  @include media-breakpoint-down(xs) {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-bottom: 10px;
  }

  &:hover {
    @extend .form-control:hover;
  }

  &.focus,
  &.focus:hover {
    border-color: $blue-300;
    box-shadow: 0 0 4px $search-input-focus-shadow-color;
  }

  gl-emoji {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    vertical-align: inherit;

    img {
      height: 18px;
      width: 18px;
    }
  }

  .form-control {
    position: relative;
    min-width: 200px;
    padding-right: 25px;
    padding-left: 0;
    height: $input-height;
    line-height: inherit;
    border-color: transparent;

    &:focus,
    &:hover {
      outline: none;
      border-color: transparent;
      box-shadow: none;
    }
  }

  .fa-times {
    right: 10px;
    color: $gray-darkest;
  }

  .clear-search {
    width: 35px;
    background-color: $white-light;
    border: 0;
    outline: none;
    z-index: 1;

    &:hover .fa-times {
      color: $common-gray-dark;
    }
  }
}

.filtered-search-box-input-container {
  flex: 1;
  position: relative;
  min-width: 0;
}

.filtered-search-input-dropdown-menu {
  max-height: $dropdown-max-height;
  max-width: 280px;
  overflow: auto;

  @include media-breakpoint-down(xs) {
    width: auto;
    left: 0;
    right: 0;
    max-width: none;
    min-width: 100%;
  }
}

.filtered-search-history-dropdown-wrapper {
  position: static;
  display: flex;
  flex-direction: column;
}

.filtered-search-history-dropdown-toggle-button {
  flex: 1;
  width: auto;
  border-radius: 0;
  border: 0;
  border-right: 1px solid $border-color;
  color: $gl-text-color-secondary;
  transition: color 0.1s linear;

  &:hover,
  &:focus {
    color: $gl-text-color;
    border-color: $blue-300;
    outline: none;
  }

  svg {
    height: 14px;
    width: 14px;
    vertical-align: middle;
    margin-bottom: 4px;
  }

  .dropdown-toggle-text {
    display: inline-block;
    color: inherit;

    .fa {
      vertical-align: middle;
      color: inherit;
    }
  }
}

.filtered-search-history-dropdown {
  width: 40%;

  @include media-breakpoint-down(xs) {
    left: 0;
    right: 0;
    max-width: none;
  }
}

.filtered-search-history-dropdown-content {
  max-height: none;

  .filtered-search-history-dropdown-item,
  .filtered-search-history-clear-button {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.filtered-search-history-dropdown-token {
  display: inline;

  &:not(:last-child) {
    margin-right: 0.3em;
  }

  > .value {
    font-weight: $gl-font-weight-bold;
  }
}

.filter-dropdown-container {
  display: -webkit-flex;
  display: flex;

  .dropdown-toggle {
    line-height: 22px;
  }
}

@include media-breakpoint-down(xs) {
  .issues-details-filters {
    padding: 0 0 10px;
    background-color: $white-light;
    border-top: 0;
  }
}

@include media-breakpoint-down(sm) {
  .filter-dropdown-container {
    .dropdown-toggle,
    .dropdown,
    .dropdown-menu {
      width: 100%;
    }

    .dropdown {
      margin-left: 0;
    }

    .fa-chevron-down {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}

.droplab-dropdown .dropdown-menu .filter-dropdown-item {
  .btn {
    text-overflow: ellipsis;

    .fa {
      width: 15px;
      line-height: $line-height-base;
    }

    .dropdown-label-box {
      border-color: $white-light;
      border-style: solid;
      border-width: 1px;
      width: 17px;
      height: 17px;
      top: 0;
    }
  }

  .dropdown-light-content {
    font-size: 14px;
    font-weight: $gl-font-weight-normal;
  }

  .dropdown-user {
    display: flex;
  }

  .dropdown-user-details {
    display: flex;
    flex-direction: column;

    > span {
      white-space: normal;
      word-break: break-all;
    }
  }
}

.filter-dropdown-loading {
  padding: 8px 16px;
  text-align: center;
}
